<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.javarem.infrastructure.dao.mapper.GroupBuyingOrderMapper">

    <resultMap id="BaseResultMap" type="top.javarem.infrastructure.dao.po.GroupBuyingOrder">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="teamId" column="team_id" jdbcType="VARCHAR"/>
            <result property="activityId" column="activity_id" jdbcType="BIGINT"/>
            <result property="channel" column="channel" jdbcType="VARCHAR"/>
            <result property="source" column="source" jdbcType="VARCHAR"/>
            <result property="originalPrice" column="original_price" jdbcType="DECIMAL"/>
            <result property="discountPrice" column="discount_price" jdbcType="DECIMAL"/>
            <result property="payPrice" column="pay_price" jdbcType="DECIMAL"/>
            <result property="targetCount" column="target_count" jdbcType="INTEGER"/>
            <result property="completeCount" column="complete_count" jdbcType="INTEGER"/>
            <result property="lockCount" column="lock_count" jdbcType="INTEGER"/>
            <result property="notifyUrl" column="notify_url" jdbcType="INTEGER"/>
            <result property="validBeginTime" column="valid_begin_time" jdbcType="TIMESTAMP"/>
            <result property="validEndTime" column="valid_end_time" jdbcType="TIMESTAMP"/>
            <result property="status" column="status" jdbcType="TINYINT"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
    </resultMap>

</mapper>
